body{
    background-image: url('../imagenes/fondo.jpg');
	background-repeat: no-repeat;
}
@media (max-width: 600px) {

   .imagenesinicio{
       width: 40%;
   }
   .botoninicio{
	background-color:transparent;
	color:white;
	 height: 55px;
	 width: 70%;
	 font-size: 35px;
     border: 1px solid white;
	
}
.bontoningresar{
	background-color: #D52B1E;
	color:white;
	height: 55px;
	width: 70%;
	font-size: 35px;
}
#div_general{
	position:relative;
}
.bontonesmenu{
    position:relative;
     height:60px;
    background-color: #D52B1E;
     margin: 15px;
    font-size: 25px;
    border-radius:10px;
}

.bontonsalir{
    color:#606060;
     margin: 15px;
     height:50px;
     font-size: 25px;
      border-radius:10px;
}
.bontonsalir:hover { 
background-color:transparent;
color:black;
}


}